/*
 static const darkJungleGreen = #1F2421;
  static const skobeloff = #216869;
  static const shinyShamrock = #49A078;
  static const etonBlue = #9CC5A1;
  static const gainsboro = #DCE1DE;
*/
button {
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #1F2421;
    cursor: pointer;
}

button.current {
    box-shadow: 0 0 0 2px white,
        0 0 0 4px black;
}