.create-card-container,
.configuration-hint-container {
    padding: 0 2rem;
}

.tips {
    font-size: 0.8rem;
    font-style: italic;
}

form {
    max-width: 80%;
}

.form-field {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}



input[type="submit"] {
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #216869;
    cursor: pointer;
}

.input-container input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.add-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.add-input img {
    height: 1.2rem;
    width: 1.5rem;
    color: white;
    margin-right: 7px;
}


label {
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 5px;
}

.flag {
    border: 1px solid #d2cbcb;
}

.locales-container {
    align-items: center;
}

.exchange-arrow {
    font-size: 2rem;
    margin: 0 1rem;
}