<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/options.css">
</head>

<body>

    <div class="main-container">
        <h2>Language Learning Extension - Configuration</h2>


        <div class="current-token-container">
            <p>
                Current Token: <span id="current-token"></span>
            </p>
        </div>
    
        <form>
            <input type="text" id="api-token-input" placeholder="Enter here your api token" />
            <input type="submit" id="submit-token" value="Update" />
        </form>
    </div>
    <!-- <div id="buttonDiv">
    </div>
    <div>
        <p>Choose a different background color!</p>
    </div> -->
</body>
<script src="../js/options.js"></script>

</html>